@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 54px;
}
.title {
    display: flex;
    gap: 40px;
}
.title-image {
    width: 350px;
    height: auto;
}
.image {
    width: 150px;
    height: auto;
}

.menu-iteam {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.word-title {
    font-family: "Poppins", serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: transparent;
    background-image: radial-gradient(circle, black 50%, transparent 50%);
    background-size: 5px 5px;
    -webkit-background-clip: text;
    background-clip: text;
    }
.word {
    border: 1px rgb(183, 174, 174) solid;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: transparent;
    background-image: radial-gradient(circle, black 50%, transparent 50%);
    /* Крапки */
    background-size: 5px 5px;
    /* Відстань між крапочками */
    -webkit-background-clip: text;
    /* Застосування фону до тексту */
    background-clip: text;
    /* Застосування фону до тексту */
}